.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info/
artifacts/
coverage.xml
.coverage
*.zim
*.zimaa
*.zimab
data/*
!data/README.md
zimply.log
information/Build a Large Language Model (From Scratch) - Sebastian Raschka.pdf
